p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.section {
  padding-left: 20px;
  padding-right: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
}

.header {
  background-color: #84A178;
  position: relative;
  width: 100%;
  height: 502px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  margin-top: 12px;
}

.header-nav__menu {
  border: none;
  margin-top: 17px;
  background: #84A178;
}

.header__title {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  color: #FCFCFC;
  margin-top: 47px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.header__button {
  width: 108px;
  height: 38px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  font-style: normal;
  text-align: center;
  color: #000000;
  border: 2px solid #F8D24E;
  border-radius: 8px;
  border-color: #F8D24E;
  background: #84A178;
  margin-right: 12px;
}

.header__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  font-style: normal;
  color: #F8D24E;
}

.header__img {
  width: 177px;
  height: 217px;
  margin-top: 19px;
  position: absolute;
  top: 265px;
  left: 93px;
}

.products {
  position: relative;
  background-image: url(../images/backgroud_mobile.png);
  width: 100%;
  height: 100%;
  /* background-repeat: no-repeat; */
}

.products__text {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  font-style: normal;
  color: #131313;
  text-align: center;
  margin-top: 61px;
  margin-bottom: 12px;
}

.products__title {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.12;
  text-align: center;
  color: #131313;
  margin-bottom: 148px;
}

.products__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
  height: 420px;
  margin-left: auto;
  margin-right: auto;
  background-color: #AEC6A5;
  border-radius: 24px;
}

.products__item-two {
  background-color: #EFD478;
  margin-top: 168px;
}

.products__item-three {
  background-color: #D6936D;
  margin-top: 168px;
  margin-bottom: 60px;
}

.products__div::before {
  content: url(../images/fon.png) "";
  position: absolute;
  top: -98px;
  left: 20px;
  z-index: 0;
}

.products__item:before {
  position: absolute;
  content: url(../images/foto1.png) "";
  display: block;
  top: -95px;
  left: 40px;
  z-index: 1;
}

.products__list--title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #131313;
  text-transform: uppercase;
  text-align: center;
  margin-top: 135px;
  margin-bottom: 40px;
}

.products__list--text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  text-align: center;
  color: #131313;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 90px;
}

.products__arrow {
  width: 40px;
  margin-left: 120px;
}

.about {
  display: inline-block;
  background-color: #84A178;
  width: 100%;
  height: 100%;
}

.about__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: #FCFCFC;
  margin-top: 61px;
  margin-bottom: 12px;
}

.about__title {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #FCFCFC;
  margin-bottom: 32px;
}

.about__text--second {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.62;
  text-align: center;
  color: #FCFCFC;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 4px;
}/*# sourceMappingURL=main.css.map */