header {
    background-color: #84A178;
    position: relative;
    width: 100%;
    height: 502px;
}
.header-nav {
    display: flex;
    justify-content: space-between;
}
.logo {
    margin-top: 12px;
    margin-left: 20px;
}
.header-menu {
    border: none;
    margin-top: 17px;
    margin-right: 20px;
    background: #84A178;
}
h1 {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.27;
    color: #FCFCFC;
    margin-left: 20px;
    margin-bottom: 32px;
    margin-top: 47px;
    text-transform: uppercase;
}
.header-button {
    width: 108px;
    height: 38px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    color: #000000;
    border: 2px solid #F8D24E;
    border-radius: 8px;
    border-color: #F8D24E;
    background: #84A178;
    margin-left: 20px;
    margin-right: 12px;
}
.header-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #F8D24E;
}
.header-ice {
    width: 177px;
    height: 217px;
    margin-top: 19px;
    position: absolute;
    top: 265px;
    left: 93px;
}

products {
    position: relative;
    background-image: url(../images/backgroud_mobile.png);
    width: 100%;
    height: 100%;
    /* background-repeat: no-repeat; */
}
.products-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    color: #131313;
    text-align: center;
    margin-top: 61px;
    margin-bottom: 12px;
}
h2 {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.12;
    text-align: center;
    color: #131313;
    margin-bottom: 148px;
}
.products-list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 420px;
    background-color: #AEC6A5;
    border-radius: 24px;;
}
.products-div::before {
    content: url(../images/fon.png) "";
    position: absolute;
    top: -100px;
    left: 20px;
    z-index: 0;
    }
.products-list-item:before {
    position: absolute;
    content: url(../images/foto1.png)"";
    display: block;
    top: -100px;
    left: 40px;
    z-index: 1;
}

h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #131313;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 123px;
    margin-bottom: 40px;
}
.products-list-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.76;
    text-align: center;
    letter-spacing: 0.04em;
    color: #131313;
    margin: 0px 40px 100px 40px

}
.arrow {
    width: 40px;
   margin-left: 120px;
}




/* <!-- модальное окно --> */
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #817C7C;
} 
/* ---------????????? */
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal-Ingredients {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 280px;
    max-width: 480px;
    height: 968px;
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    
}
h4 {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #131313;
    margin-top: 28px;
    margin-bottom: 20px;
}
.modal-foto {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
}
.modal-list {
   
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
   justify-content: center;
   margin-bottom: 40px;

}
.modal-item {
    position: relative;
    margin-bottom: 40px;
}
.oval {
    margin-right: 9px;
}
.circle {
    position: absolute;
    top: -13px;
    left: -14px;
}
.modal-p {
    position: absolute;
    top: 0px;
    left: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 2.8;
    color: #131313;
}
.modal-text {
    position: absolute;
    top: 38px;
    left: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #131313;
}
.modal-ingredients {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4px;
    text-align: center;
    color: #131313;
}