.contacts {
   position: relative;
   background-color: $background-color;
}
// .contacts__list {
//     position: absolute;
  
// }
.visualli-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
}
.contacts__items{
    width: 280px;
    height: 412px;
    background-color: $color-text;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: $border-radius;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}
.contacts__btn {
    background: $color-second;
    border-radius: 4px;
    border-style: none ;
    margin-left: 32px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 4px 22px;
    font-family: 'Montserrat';
    font-style: normal;
    @include font (500, 12px, 1.16, 0.04em);
    color: $color;
}
.contacts__address {
    display: block;
    font-style: normal;
    @include font (500, 12px, 1.83, 0.04em);
    color: #D6936D;
    margin-left: 32px;
    margin-right: 32px;
}
.contacts__address--span {
    font-style: normal;
    @include font (500, 12px, 1.83, 0.04em);
    color: $color;
    padding-bottom: 8px;
}
.contacts__table {
    @include font (500, 12px, 1.83, null);
    font-style: normal;
    color: #ABABAB;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 24px;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}
.contacts__table--title {
    font-style: normal;
    @include font (500, 12px, 1.83, null);
    color: $color;
}
.contacts__cont {
    @include font (500, 12px, 1.6, null);
    font-style: normal;
    color: $color;
    margin-top: 24px;
    margin-bottom: 24px;
}
.contacts__tel {
    margin-bottom: 6px;
    margin-left: 32px;
}
.contacts__mail {
    margin-left: 32px;
}    
.contacts__button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 196px;
    height: 42px;
    background: $color-second;
    border-radius: 10px;
    border-style: none;
    @include font (600, 14px, 1.29, null);
    font-style: normal;
    color: $color;
    margin-top: 935px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}
.contacts__button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 196px;
    height: 42px;
    border-radius: 10px;
    border: 2px solid $color-second;
    background-color: $background-color;
    @include font (600, 14px, 1.29, null);
    font-style: normal;
    color: $color;
    margin-left: auto;
    margin-right: auto;
}
.contacts__button--span {
    padding-left: 4px;
}