.customer {
    background-image: url(..//..//images/backgroud_mobile.png);
    position: relative;
}
.customer__img {
    position: absolute;
    top: -20px;
    left: 50px;
      
}
.customer__foto {
    margin-top: 180px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}
.customer__text {
    width: 280px;
    height: 256px;
    background-color: $background-color;
    border-radius: 10px;
    @include font (400, 12px, 2.58, null);
    text-align: center;
    color: $color-text;
    padding-left: 39px;
    padding-top: 35px;
    padding-right: 39px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}
.customer__name {
    font-style: normal;
    @include font (500, 20px, 1.86, null);
    text-align: center;
    color: $color;
    margin-bottom: 12px;
}