.products {
    position: relative;
    background-image: url(..//../images/backgroud_mobile.png);
}
.products__text {
    @include font (800, 18px, 1.22, null);
    font-style: normal;
    color: $color;
    text-align: center;
    margin-top: 61px;
    margin-bottom: 12px;
}
.products__title {
    font-family: 'Seymour One';
    @include font (400, 30px, 1.12, null);
    text-align: center;
    color: $color;
    margin-bottom: 148px;
}
.products__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
    background-color: #AEC6A5;
    border-radius: $border-radius;
}
.products__item--two {
    background-color: #EFD478;
    margin-top: 168px;
}
.products__item--three {
    background-color: #D6936D;
    margin-top: 168px;
    margin-bottom: 60px;
}
.products__div::before {
    content: url(../images/fon.png) "";
    position: absolute;
    top: -98px;
    left: 20px;
    z-index: 0;
    }
.products__div--two::before {
    content: url(../images/fon2.png) "";
    position: absolute;
    top: -98px;
    left: 20px;
    z-index: 0;
    }
.products__div--three::before {
    content: url(../images/fon3.png) "";
    position: absolute;
    top: -98px;
    left: 20px;
    z-index: 0;
    }
.products__item:before {
    position: absolute;
    content: url(../images/foto1.png)"";
    display: block;
    top: -95px;
    left: 40px;
    z-index: 1;
}
.products__item--two:before {
    position: absolute;
    content: url(../images/foto2.png)"";
    display: block;
    top: -95px;
    left: 40px;
    z-index: 1;
}
.products__item--three:before {
    position: absolute;
    content: url(../images/foto3.png)"";
    display: block;
    top: -95px;
    left: 40px;
    z-index: 1;
}
.products__list--title {
    @include font (700, 20px, 1.2, 0.04em);
    color: $color;
    text-transform: uppercase;
    text-align: center;
    margin-top: 135px;
    margin-bottom: 40px;
}
.products__list--text {
    @include font (400, 14px, 1.76, 0.04em);
    text-align: center;
    color: $color;
    margin-right: 40px;
    margin-left: 40px;
    // margin-bottom: 90px;
}
.products__arrow {
    position: absolute;
    top: 388px;
    left: 120px;
    width: 40px;
}